*{
    padding: 0;
    margin:0;
    
    list-style: none;
    box-sizing: inherit;
    text-decoration: none;
    
}


@font-face {
    font-family: Lato; 
    src: url(fonts/Lato-Light.ttf); 
   }
   @font-face {
    font-family: Lato-semibold; 
    src: url(fonts/Lato-Semibold.ttf); 
   }
   

   @font-face {
    font-family: Lato-Black; 
    src: url(fonts/Lato-Black.ttf); 
   }
   @font-face {
    font-family: Lato-Bold; 
    src: url(fonts/Lato-Bold.ttf); 
   }


.wrapper{ 
}

.grid-container{
    display: grid;
    grid-template-rows: 964px 578px 765px 401px 190px 342px 294px;
    min-width: 980px;
    
}






header{
    background: url(Header_BG.jpg);
    background-size: 100% 100%;
    color: white;
   

}

header .container{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.692);
    display: grid;
    grid-template: repeat(20,1fr)/repeat(20,1fr);

}

header .container .member{
            display: grid;
            background-color: rgba(57, 208, 131, 0.91);

            width: 100%;
            grid-template-columns: 20fr 20fr;
          /*   background-image: url(Member.jpg); */
            background-size: cover;
            grid-column: 1/21;
            grid-row:19/21;
            overflow: hidden;
}

header .container .member::before{
    content:"";
   
    display: block;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 96px;
   left: 0;
    position: absolute;
}
header .container .member>a{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    
    border : 0px solid white;
     transform: skew(-13deg); 
     
     font-family: Lato-bold;
     font-size: 17px;
     text-transform: uppercase;
     
}



header .container .member>a .login{
    background-color: rgba(32, 55, 71, 0.91);
    height: 100%;
    width: 42%;
  position: absolute;
  left: -2%;
    display: flex;
   align-items: center;
   padding-left: 60%;
}


header .container .member>a .login:hover{
    background-color: rgba(32, 55, 71, 0.8);
    
}

header .container .member>a .register{
   display: flex;
   align-items: center;
   padding-left: 30%;
    height: 100%;
    width: 72%;
    position: absolute;
    right: -2%;
}
header .container .member>a .register:hover{
    background-color: rgba(73, 126, 99, 0.589);
    
}
header .container .member>a>div>div{
    transform: skew(13deg); 
}


 
header .container .menu{
   
    grid-column: 1/21;
    grid-row:1/3;
    border-bottom: 1px solid rgba(255, 255, 255, 0.26);
    margin:0px 10%;

    display: grid;
    grid-template: repeat(20,1fr)/repeat(20,1fr);
    
   /*  background-color: rgba(37, 192, 115, 0.144); */
}

            header .container .menu .logo{
               
                grid-row:2/14;
                grid-column:2/5;
                margin-top: 20%;
              /*   background-image: url(Logo.png);
                background-size: contain; */
                
                
                

            }

            header .container .menu nav{
                background-color: rgba(143, 209, 176, 0);
                grid-row:9/21;
                grid-column:11/19;
               
            }

            header .container .menu nav ul{
                display: flex;
                height: 100%;
                justify-content: space-around;
               
            }

            header .container .menu nav ul li{
                font-family: Lato;
                font-size: 16px;
                margin:0px 4%;
                margin-bottom: -1px;
               
                
             }

            header .container .menu nav ul li:hover{
               border-bottom: 1px solid white;
            }

header .container .text{
    grid-column: 7/15;
    font-family: Lato;
    grid-row:9/13;
}



  .grid-item-domain{
            background-color: rgb(255, 255, 255);
            display: grid;
            grid-template: repeat(40,1fr)/repeat(40,1fr);
  }

        .grid-item-domain .text{
            
            border: 0px solid black;
            grid-row: 8/14;
            grid-column:8/33;
            text-align: center;
        }

        .grid-item-domain .search{
            padding: 1% 0;
            border: 1px solid rgba(0, 0, 0, 0.15);
            grid-row: 16/19;
            margin:0px 1.5%;
            grid-column:8/33;
            
            display: grid;
            grid-template-columns: 71px auto 71px;

        }
        .grid-item-domain .search>div{
            display:grid;
            text-align: center;
            align-content: center;
            border:0px solid black;
        }

        .grid-item-domain .table{
            text-align: center;
            height: 194px;
            margin:0px 1.5%;
            padding: 2%;
            border: 1px solid rgba(0, 0, 0, 0.15);
            grid-row: 21/30;
            grid-column:8/33;
            display:grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }



        .grid-item-domain .table div{
            color:rgba(0, 0, 0, 0.15);
            display: block;
            
        }

        .grid-item-domain .table div .f-type{
            display: grid;
            align-content: center;
            justify-content: center;
            height: 80%;
            width: 100%;
            border-right: 1px solid #d9d9d9;
            margin-top: 5%;
            margin-bottom: 5%;
           
        }

        .grid-item-domain .table div .f-type::before{
            content:"";
           display: block;
           position: absolute;
          height: 87px;
           width: 13.15%; 
          min-width: 130px;
          margin-left: 0.68%;
           border-bottom: 1px solid #d9d9d9;
           
        }

        .grid-item-domain .table div .s-type{
            display: grid;
            align-content: center;
            justify-content: center;
            height: 80%;
            width: 100%;
            margin-top: 5%;
            margin-bottom: 5%;
           
        }

        .grid-item-domain .table div .s-type::before{
            content:"";
           display: block;
           position: absolute;
          height: 87px;
          width: 13.15%;
          margin-left: 0.68%;
           border-bottom: 1px solid #d9d9d9;
           
        }
        .grid-item-domain .table div .t-type{
            display: grid;
            align-content: center;
            justify-content: center;
            height: 80%;
            width: 100%;
            border-right: 1px solid #d9d9d9;
            margin-top: 5%;
            margin-bottom: 5%;
           
        }

        .grid-item-domain .table div .l-type{
            display: grid;
            align-content: center;
            justify-content: center;
            height: 80%;
            width: 100%;
            
            margin-top: 5%;
            margin-bottom: 5%;
           
        }
        


.grid-item-packages{
    background-image: url(41.jpg.png);
    background-size: 100% 100%;
   display:grid;
   grid-template-columns: repeat(40,1fr);
   grid-template-rows: repeat(40,1fr);
}

.grid-item-packages .img_bg{
    grid-column: 1/41;
    grid-row:1/21;
    background-color: rgba(0, 0, 0, 0.7);

}

.grid-item-packages .white_bg{
    grid-column: 1/43;
    grid-row:21/41;
    background-color: white;
}


.grid-item-packages .flexblock{
    
    grid-row: 6/35;
    grid-column: 3/39;
    display:flex;
    justify-content: space-evenly;
   
}


.grid-item-packages .package1{
    height: 100%;
    min-width: 230px;
    box-shadow: 0px 3px 10px 0px rgba(128, 128, 128, 0.438);

    border-top: #f9d423 solid 5px;

    background-color: white;

    display: grid;
    grid-template-columns: repeat(250,1fr);
   grid-template-rows: repeat(500,1fr);
}
        .grid-item-packages .package1 .logo{
           border-right: 7px solid #f9d423;
           border-left: 7px solid rgba(255, 255, 0, 0);
           border-top: 7px solid rgba(255, 255, 0, 0);
           border-bottom: 7px solid rgba(255, 255, 0, 0);
           border-radius: 100px;
           transform: rotate(-45deg);
             grid-row:37/94 ;
            grid-column:91/160;
            display: grid;
            align-items: center;
            justify-content: center;
        }
        .grid-item-packages .package1 .logo .img{
               background-image: url(img/fa-anchor.png);
             background-repeat: no-repeat;
            background-size: 100% 100%; 
           height: 18px;
           width: 18px;
           transform: rotate(45deg); 
        }

        .grid-item-packages .package1 .logo:hover{
            transform: rotate(315deg);
            transition-duration: 2s;
            
        }

        .grid-item-packages .package1 .small-text-block{
            display: grid;
            justify-content: center;
            font-family: Lato-bold;
            font-weight: 300;
            font-size: 16px;
            grid-row:109/136 ;
            grid-column:50/200;
           
        }

        .grid-item-packages .package1 .large-text-block{
            grid-row:144/390 ;
          
            grid-column:25/225;
           padding: 00px 0px;
           border-top: 1px solid #dfdfdf;
           border-bottom: 1px solid #dfdfdf;
           font-size: 16px;
           font-family: Lato;
           color: #b4b4b4;
           display: grid;
          align-content: center;
          grid-template-columns: 85% 15%;
        }

                .grid-item-packages .package1 .large-text-block .left ul {
                    display: grid;
                
                }
                .grid-item-packages .package1 .large-text-block .right ul{
                    display: grid;
                    color: #f9d423;
                    font-family: Lato-semibold;
                    justify-content: flex-end;
                    text-align: right;
                
                }

                .grid-item-packages .package1 .large-text-block ul li{
                margin: 8.5px 0px;
                border: 0px solid black;
                
                }
        
        .grid-item-packages .package1  .price{
            padding-top: 5.5px;
            grid-row:412/447 ;
            grid-column:68/182;
            border-bottom: #f9d423 2.5px solid;
            text-align: center;
        }
        .grid-item-packages .package1  .select{
            color: #282828;
             font-family: Lato-bold;
             font-weight: 600;
             font-size: 14px;
             text-align: center;
            grid-row:462/482 ;
            grid-column:50/200;
         }
       

       

        




.grid-item-packages .package2{
    box-shadow: 0px 3px 10px 0px rgba(128, 128, 128, 0.438);
    height: 100%;
    min-width: 230px;
    background-color: white;
    border-top: #7f8c8d solid 4px;

    display: grid;
    grid-template-columns: repeat(250,1fr);
   grid-template-rows: repeat(500,1fr);
   
   
}

   /*  .grid-item-packages .package2 .logo{
                
                
        background-image: url(img/package-logo2.png);
        background-size: 100% 100%;
    
        grid-row:39/94 ;
        grid-column:91/160;
    
    } */

    .grid-item-packages .package2 .logo{
        border-right: 7px solid #7f8c8d;
        border-left: 7px solid rgba(255, 255, 0, 0);
        border-top: 7px solid rgba(255, 255, 0, 0);
        border-bottom: 7px solid #7f8c8d;
        border-radius: 1000px;
        transform: rotate(-45deg);
          grid-row:37/94 ;
         grid-column:91/160;
         display: grid;
         align-items: center;
         justify-content: center;
     }
     .grid-item-packages .package2 .logo .img{
            background-image: url(img/pcg-img2.png);
          background-repeat: no-repeat;
         background-size: 100% 100%; 
        height: 18px;
        width: 18px;
        transform: rotate(45deg); 
     }

     .grid-item-packages .package2 .logo:hover{
         transform: rotate(315deg);
         transition-duration: 2s;
         
     }

    .grid-item-packages .package2 .small-text-block{
        display: grid;
        justify-content: center;
        font-family: Lato-bold;
        font-weight: 300;
        font-size: 16px;
        grid-row:109/136 ;
        grid-column:40/210;
    
    }

    .grid-item-packages .package2 .large-text-block{
        grid-row:144/390 ;
    
        grid-column:25/225;
    padding: 00px 0px;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    font-size: 16px;
    font-family: Lato;
    color: #b4b4b4;
    display: grid;
    align-content: center;
    grid-template-columns: 85% 15%;
    }

            .grid-item-packages .package2 .large-text-block .left ul {
                display: grid;
            
            }
            .grid-item-packages .package2 .large-text-block .right ul{
                display: grid;
                color: #b4b4b4;
                font-family: Lato-semibold;
                justify-content: flex-end;
                text-align: right;
            
            }

            .grid-item-packages .package2 .large-text-block ul li{
            margin: 8.5px 0px;
            border: 0px solid black;
            
            }

    .grid-item-packages .package2  .price{
        padding-top: 5.5px;
        grid-row:412/447 ;
        grid-column:68/182;
        border-bottom: #b4b4b4 2.5px solid;
        text-align: center;
    }
    .grid-item-packages .package2  .select{
        color: #282828;
        font-family: Lato-bold;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        grid-row:462/482 ;
        grid-column:50/200;
    }










.grid-item-packages .package3{
    min-width: 230px;
    box-shadow: 0px 3px 10px 0px rgba(128, 128, 128, 0.438);
    height: 100%;
    background-color: white;
    border-top: #f85f40 solid 4px;
  
    display: grid;
    grid-template-columns: repeat(250,1fr);
   grid-template-rows: repeat(500,1fr);
}

    /* .grid-item-packages .package3 .logo{
                    
                    
        background-image: url(img/package-logo3.png);
        background-size: 100% 100%;

        grid-row:39/94 ;
        grid-column:91/160;

    } */
    .grid-item-packages .package3 .logo{
        border-right: 7px solid #f85f40;
        border-left: 7px solid #f85f40;
        border-top: 7px solid #f84c4000;
        border-bottom: 7px solid #f85f40;
        border-radius: 100px;
        transform: rotate(-45deg);
          grid-row:37/94 ;
         grid-column:91/160;
         display: grid;
         align-items: center;
         justify-content: center;
     }
     .grid-item-packages .package3 .logo .img{
            background-image: url(img/pkg-img3.png);
          background-repeat: no-repeat;
         background-size: 100% 100%; 
        height: 18px;
        width: 18px;
        transform: rotate(45deg); 
     }

     .grid-item-packages .package3 .logo:hover{
         transform: rotate(315deg);
         transition-duration: 2s;
         
     }
    .grid-item-packages .package3 .small-text-block{
        display: grid;
        justify-content: center;
        font-family: Lato-bold;
        font-weight: 300;
        font-size: 16px;
        grid-row:109/136 ;
        grid-column:50/200;

    }

    .grid-item-packages .package3 .large-text-block{
        grid-row:144/390 ;

        grid-column:25/225;
    padding: 00px 0px;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    font-size: 16px;
    font-family: Lato;
    color: #b4b4b4;
    display: grid;
    align-content: center;
    grid-template-columns: 85% 15%;
    }

            .grid-item-packages .package3 .large-text-block .left ul {
                display: grid;
            
            }
            .grid-item-packages .package3 .large-text-block .right ul{
                display: grid;
                color: #f85f40;
                font-family: Lato-semibold;
                justify-content: flex-end;
                text-align: right;
            
            }

            .grid-item-packages .package3 .large-text-block ul li{
            margin: 8.5px 0px;
            border: 0px solid black;
            
            }

    .grid-item-packages .package3  .price{
        padding-top: 5.5px;
        grid-row:412/447 ;
        grid-column:68/182;
        border-bottom: #f85f40 2.5px solid;
        text-align: center;
    }
    .grid-item-packages .package3  .select{
        color: #282828;
        font-family: Lato-bold;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        grid-row:462/482 ;
        grid-column:50/200;
    }




.grid-item-packages .package4{
    min-width: 230px;
    box-shadow: 0px 3px 10px 0px rgba(128, 128, 128, 0.438);
    height: 100%;
    background-color: white;
    border-top: #1abc9c solid 4px;
   
    display: grid;
    grid-template-columns: repeat(250,1fr);
   grid-template-rows: repeat(500,1fr);
}

    /* .grid-item-packages .package4 .logo{
                    
                    
        background-image: url(img/package-logo4.png);
        background-size: 100% 100%;

        grid-row:39/94 ;
        grid-column:91/160;

    } */
    .grid-item-packages .package4 .logo{
       border: 7px solid #1abc9c;
        border-radius: 1000px;
        transform: rotate(-45deg);
          grid-row:37/94 ;
         grid-column:91/160;
         display: grid;
         align-items: center;
         justify-content: center;
     }
     .grid-item-packages .package4 .logo .img{
            background-image: url(img/pkg-img4.png);
          background-repeat: no-repeat;
         background-size: 100% 100%; 
        height: 18px;
        width: 18px;
        transform: rotate(45deg); 
     }

     .grid-item-packages .package4 .logo:hover{
         transform: rotate(315deg);
         transition-duration: 2s;
         
     }
    .grid-item-packages .package4 .small-text-block{
        display: grid;
        justify-content: center;
        font-family: Lato-bold;
        font-weight: 300;
        font-size: 16px;
        grid-row:109/136 ;
        grid-column:40/210;

    }

    .grid-item-packages .package4 .large-text-block{
        grid-row:144/390 ;

        grid-column:25/225;
    padding: 00px 0px;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    font-size: 16px;
    font-family: Lato;
    color: #b4b4b4;
    display: grid;
    align-content: center;
    grid-template-columns: 85% 15%;
    }

            .grid-item-packages .package4 .large-text-block .left ul {
                display: grid;
            
            }
            .grid-item-packages .package4 .large-text-block .right ul{
                display: grid;
                color: #1abc9c;
                font-family: Lato-semibold;
                justify-content: flex-end;
                text-align: right;
            
            }

            .grid-item-packages .package4 .large-text-block ul li{
            margin: 8.5px 0px;
            border: 0px solid black;
            
            }

    .grid-item-packages .package4  .price{
        padding-top: 5.5px;
        grid-row:412/447 ;
        grid-column:68/182;
        border-bottom: #1abc9c 2.5px solid;
        text-align: center;
    }
    .grid-item-packages .package4  .select{
        color: #282828;
        font-family: Lato-bold;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        grid-row:462/482 ;
        grid-column:50/200;
    }






.grid-item-about_us{
    display: grid;
    grid-template-columns: 3fr 13fr 17fr 3fr;
    grid-template-rows: 3fr 6fr 3fr;
    
}

.grid-item-about_us .border{
    border-top: 1.5px dashed #d4d4d4;
    grid-row: 1/2;
    grid-column: 2/4;
}
.grid-item-about_us .text-block{
    font-size: 18px;
    line-height: 27px;
grid-row:2/3;
grid-column: 2/3;
border-right: 1.5px dashed #d4d4d4;
padding-right: 20%;
text-align: justify;
}
@media screen and (max-width: 1150px){
    .grid-item-about_us .text-block{
        padding-right: 8%;
    }
}
@media screen and (max-width: 1050px){
    .grid-item-about_us .text-block{
        padding-right: 3%;
    }
}

.grid-item-about_us .img-block{
    padding-left: 15%;
    grid-row:2/3;
    grid-column: 3/4;
    display: flex;
    justify-content: space-between;
    
}

        .grid-item-about_us .img-block .el-1{
            
            width: 100px;
            display: grid;
            grid-template-rows: 10fr 4fr 4fr 4fr;
            
        }
                .grid-item-about_us .img-block .el-1 .img{
                    background-image: url(img/worker1.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    grid-row: 1/2;
                    border: 5px solid rgba(0, 0, 0, 0.103);
                    border-radius: 100px;
                    height: 89px;
                    width: 90px;
                   
                    
                }
                .grid-item-about_us .img-block .el-1 .textbig{
                    text-align: center;
                    grid-row: 2/3; 
                    font-family: Lato-semibold;
                    font-size: 17px;
                    padding-top: 18px;
                }
                .grid-item-about_us .img-block .el-1 .textsmall{
                    text-align: center;
                    grid-row: 3/4; 
                    font-size: 15px;
                    font-family: Lato;
                    color: #8e8e8e;
                    padding-top: 8px;
                }
                .grid-item-about_us .img-block .el-1 .referenses{
                    text-align: center;
                    grid-row: 4/5; 
                    display: flex;
                    justify-content: space-around;
                }
                        .grid-item-about_us .img-block .el-1 .referenses .ref-1{
                            background-image: url(img/fa-facebook.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            height: 15px;
                            width: 18px;

                        }
                        .grid-item-about_us .img-block .el-1 .referenses .ref-2{
                            background-image: url(img/fa-twitter.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            height: 15px;
                            width: 18px;

                        }
                        .grid-item-about_us .img-block .el-1 .referenses .ref-3{
                            background-image: url(img/fa-link.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            height: 15px;
                            width: 18px;

                        }

        .grid-item-about_us .img-block .el-2{
            width: 100px;
            display: grid;
            grid-template-rows: 10fr 4fr 4fr 4fr;
        }
                .grid-item-about_us .img-block .el-2 .img{
                    background-image: url(img/worker2.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    grid-row: 1/2;
                    border: 5px solid rgba(0, 0, 0, 0.103);
                    border-radius: 100px;
                    height: 89px;
                    width: 90px;
                }
                .grid-item-about_us .img-block .el-2 .textbig{
                    text-align: center;
                    grid-row: 2/3; 
                    font-family: Lato-semibold;
                    font-size: 17px;
                    padding-top: 18px;
                }
                .grid-item-about_us .img-block .el-2 .textsmall{
                    text-align: center;
                    grid-row: 3/4; 
                    font-size: 15px;
                    font-family: Lato;
                    color: #8e8e8e;
                    padding-top: 8px;
                }
                .grid-item-about_us .img-block .el-2 .referenses{
                    text-align: center;
                    grid-row: 4/5; 
                    display: flex;
                    justify-content: space-around;
                }
                        .grid-item-about_us .img-block .el-2 .referenses .ref-1{
                            background-image: url(img/fa-facebook.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            height: 15px;
                            width: 18px;

                        }
                        .grid-item-about_us .img-block .el-2 .referenses .ref-2{
                            background-image: url(img/fa-twitter.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            height: 15px;
                            width: 18px;

                        }
                        .grid-item-about_us .img-block .el-2 .referenses .ref-3{
                            background-image: url(img/fa-link2and3.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            height: 15px;
                            width: 18px;

                        }
        .grid-item-about_us .img-block .el-3{
            width: 100px;
            display: grid;
            grid-template-rows: 10fr 4fr 4fr 4fr;
        }
                .grid-item-about_us .img-block .el-3 .img{
                    background-image: url(img/worker3.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    grid-row: 1/2;
                    border: 5px solid rgba(0, 0, 0, 0.103);
                    border-radius: 100px;
                    height: 89px;
                    width: 90px;
                    
                }
                .grid-item-about_us .img-block .el-3 .textbig{
                    text-align: center;
                    grid-row: 2/3; 
                    font-family: Lato-semibold;
                    font-size: 17px;
                    padding-top: 18px;
                }
                .grid-item-about_us .img-block .el-3 .textsmall{
                    text-align: center;
                    grid-row: 3/4; 
                    font-size: 15px;
                    font-family: Lato;
                    color: #8e8e8e;
                    padding-top: 8px;
                }
                .grid-item-about_us .img-block .el-3 .referenses{
                    text-align: center;
                    grid-row: 4/5; 
                    display: flex;
                    justify-content: space-around;
                }
                        .grid-item-about_us .img-block .el-3 .referenses .ref-1{
                            background-image: url(img/fa-facebook.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            height: 15px;
                            width: 18px;

                        }
                        .grid-item-about_us .img-block .el-3 .referenses .ref-2{
                            background-image: url(img/fa-twitter.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            height: 15px;
                            width: 18px;

                        }
                        .grid-item-about_us .img-block .el-3 .referenses .ref-3{
                            background-image: url(img/fa-link2and3.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            height: 15px;
                            width: 18px;

                        }


         .grid-item-about_us .img-block div .referenses a div:hover{
                            background-color:rgba(255, 255, 255, 0.507);
                            background-blend-mode: color;
                        }

        .grid-item-about_us .img-block div a .img:hover{
           /*  border: 5px solid rgba(182, 174, 174, 0.103); */
           
           border-bottom-color: #0e6496b6;
           border-top-color: #0e6496b6;
            background-size: 100% 100%;
            border-right-width: 5px;
        }
.grid-item-comments{
    background: url(img/Comments_BG_Photo.png);
    background-size: 100% 100%;
}
        .grid-item-comments .text-block{
        text-align: center;
        color: #ffffff;;
        font-family: Lato;
        font-size: 20px;
        line-height: 30px;
        margin: 45px 15% 1% 15%;

        }
        .grid-item-comments .button-block{
            display:flex;
            padding-top: 5px;
            justify-content: center;
            align-items: center;
            
           
        }

                .grid-item-comments .button-block .name{
                    color: #ffffff;
                    font-family: Lato-semibold;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 20px;
                    margin-right: 20px;
                }
                .grid-item-comments .button-block .button-1{
                
                border: 1px solid white;
                margin: 0px 7px;
                margin-top: 3px;
                    height: 6px;
                    width: 6px;
                    border-radius: 10px;
                }
                .grid-item-comments .button-block .button-2{
                    border: 1px solid white;
                    height: 6px;
                    width: 6px;
                    border-radius: 10px;
                    margin: 0px 7px;
                    margin-top: 3px;
                }
                .grid-item-comments .button-block .button-3{
                    border: 1px solid white;
                    height: 6px;
                    width: 6px;
                    border-radius: 10px;
                    margin: 0px 7px;
                    margin-top: 3px;
                }




.grid-item-functions{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0% 4.5%;
}
        .grid-item-functions .func-1{
            height: 160px;
            width: 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
                .grid-item-functions .func-1 .img{
                    background-image: url(img/func-img1.png);
                    min-height: 60px;
                   min-width: 61px;
                    background-repeat: no-repeat;
                }

                .grid-item-functions .func-1 .title{
                    color: #303030;
                    font-family: "Lato-semibold";
                    font-size: 18px;
                    font-weight: 400;
                    margin-bottom: 5px;
                    margin-top: 20px;
                }

                .grid-item-functions .func-1 .text{
                    color: #7e7e7e;
                    font-family: Lato;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 22.03px;
                }

        .grid-item-functions .func-2{
                    height: 160px;
                    width: 20%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                }
                        .grid-item-functions .func-2 .img{
                            background-image: url(img/func-img2.png);
                            min-height: 60px;
                        min-width: 61px;
                            background-repeat: no-repeat;
                        }

                        .grid-item-functions .func-2 .title{
                            color: #303030;
                            font-family: "Lato-semibold";
                            font-size: 18px;
                            font-weight: 400;
                            margin-bottom: 5px;
                            margin-top: 20px;
                        }

                        .grid-item-functions .func-2 .text{
                            color: #7e7e7e;
                            font-family: Lato;
                            font-size: 16px;
                            font-weight: 300;
                            line-height: 22.03px;
                        }

        .grid-item-functions .func-3{
                    height: 160px;
                    width: 20%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                }
                        .grid-item-functions .func-3 .img{
                            background-image: url(img/func-img3.png);
                            min-height: 60px;
                        min-width: 61px;
                            background-repeat: no-repeat;
                        }

                        .grid-item-functions .func-3 .title{
                            color: #303030;
                            font-family: "Lato-semibold";
                            font-size: 18px;
                            font-weight: 400;
                            margin-bottom: 5px;
                            margin-top: 20px;
                        }

                        .grid-item-functions .func-3 .text{
                            color: #7e7e7e;
                            font-family: Lato;
                            font-size: 16px;
                            font-weight: 300;
                            line-height: 22.03px;
                        }      

        .grid-item-functions .func-4{
                    height: 160px;
                    width: 20%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                }
                        .grid-item-functions .func-4 .img{
                            background-image: url(img/func-img4.png);
                            min-height: 60px;
                        min-width: 61px;
                            background-repeat: no-repeat;
                        }

                        .grid-item-functions .func-4 .title{
                            color: #303030;
                            font-family: "Lato-semibold";
                            font-size: 18px;
                            font-weight: 400;
                            margin-bottom: 5px;
                            margin-top: 20px;
                        }

                        .grid-item-functions .func-4 .text{
                            color: #7e7e7e;
                            font-family: Lato;
                            font-size: 16px;
                            font-weight: 300;
                            line-height: 22.03px;
                        }
        

                        .grid-item-functions div a div:hover{
                            background-color:rgba(255, 254, 254, 0.315);
                            background-blend-mode: color;
                        }
        

footer{
    background-color: #2a2a2a;
    display: grid;
    grid-template-columns: 2fr 22fr 2fr;
    grid-template-rows: 2fr 5fr;
    max-height: 294px;
    overflow: hidden;
}

        footer .top-block{
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 50px;
        grid-column: 2/3;
        border-bottom: 1px solid #4a4a4a;
        }

            footer .top-block .logo{
               
                background-image: url(img/Logo-footer.png);
                background-size: 100% 100%;
                height: 30px;
                width: 140px;
                background-repeat: no-repeat;
                
                
            }
            
            footer .top-block .menu{
                display: flex;
                color: #686868;
                font-family: Lato;
                font-size: 13px;
                font-weight: 500;
                text-transform: uppercase;
                color: #9e9e9e;
                
                
            }

            footer .top-block .menu a{
                color: #9e9e9e;
            }
            footer .top-block .menu a:hover{
                color: #ffffff;
            }

            footer .top-block .menu li{
                margin: 0px 20px;
            }



        footer .bottom-block{
           grid-column: 2/3;
           display: grid;
           grid-template-rows: 1fr 4fr 1fr;
           grid-template-columns: 5fr 5.5fr 4fr;
        }

                footer .bottom-block .text{
                    padding-right: 16%;
                    display: grid;
                    align-items: center;
                    line-height: 26px;
                    grid-row: 2/3;
                    grid-column: 1/2;
                    font-family: Lato;
                    font-size: 15px;
                    color: #686868;
                }
                @media screen and (max-width: 1200px){
                    footer .bottom-block .text{
                        padding-right: 0%;
                    }
                }
                footer .bottom-block .menu{
                    grid-row: 2/3;
                    grid-column: 2/3;
                    border-right: #393939 solid 1px;
                    border-left: #393939 solid 1px;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    font-family: Lato;
                    font-weight: 800;
                    font-size: 15px;
                }

                footer .bottom-block .menu a{
                    color: #686868;
                    font-size: 15px;
                }
                footer .bottom-block .menu a:hover{
                    color: #ffffff;
                }

                        footer .bottom-block .menu .left{
                           margin-left: 40px;
                            height: 100px;
                            width: 150px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            
                        }

                            footer .bottom-block .menu .left a::before{
                                content: '> ';
                            }
                            


                        footer .bottom-block .menu .right{
                           
                            height: 100px;
                            width: 150px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                        }

                            footer .bottom-block .menu .right a::before{
                                content: '> ';
                            }




                footer .bottom-block .info{
                    font-family: Lato-semibold;
                    font-size: 15px;
                    color: #686868;
                    grid-row: 2/3;
                    grid-column: 3/4;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    padding-left: 17%;
                    
                }

                @media screen and (max-width: 1265px){
                    footer .bottom-block .info{
                        padding-left: 10%;
                    }
                }
                @media screen and (max-width: 1200px){
                    footer .bottom-block .info{
                        padding-left: 1%;
                    }
                }

                footer .bottom-block .info .el-1::before{
                    content: " ";
                    display: inline-flex;
                    margin-right: 11px;
                    width: 12px;
                    height: 12px;
                   
                    background-image: url(img/fa-phone.png);
                }
                footer .bottom-block .info .el-2::before{
                    content: " ";
                    margin-right: 12px;
                    display: inline-flex;
                    width: 12px;
                    height: 11px;
                   
                    background-image: url(img/fa-envelope.png);
                }

